.products {
  width: 60%;
  height: 800px;
  border: solid;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .products div {
    width: 30%;
    height: 200px;
    background-color: gray; }
    .products div div:first-child {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 100px;
      background-size: cover;
      background-repeat: no-repeat; }
    .products div p:nth-child(4) {
      color: #36c2ff; }
  .products div:nth-child(1) div:first-child {
    background-image: url("../style/images/product-jacket.jpg"); }
  .products div:nth-child(2) div:first-child {
    background-image: url("../style/images/product-shoos.jpg"); }
  .products div:nth-child(3) div:first-child {
    background-image: url("../style/images/product-tshirt.jpg"); }
  .products div:nth-child(4) div:first-child {
    background-image: url("../style/images/product-belt.jpg"); }
  .products div:nth-child(5) div:first-child {
    background-image: url("../style/images/product-bag.jpg"); }
  .products div:nth-child(6) div:first-child {
    background-image: url("../style/images/product-watch.jpg"); }
  .products div:nth-child(7) div:first-child {
    background-image: url("../style/images/product-bag2.jpg"); }
  .products div:nth-child(8) div:first-child {
    background-image: url("../style/images/product-jacket2.jpg"); }
  .products div:nth-child(9) div:first-child {
    background-image: url("../style/images/product-bag3.jpg"); }
