.top-nav-bar-wrapper {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: #030405;
  width: 1300px; }
  .top-nav-bar-wrapper .top-nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center; }
    .top-nav-bar-wrapper .top-nav-bar .home-logo-explore {
      height: 20px;
      width: 88px;
      display: inline-block; }
    .top-nav-bar-wrapper .top-nav-bar .navigation-ul {
      display: inline-block;
      width: 240px;
      display: flex;
      justify-content: space-between; }
      .top-nav-bar-wrapper .top-nav-bar .navigation-ul li {
        display: block; }
        .top-nav-bar-wrapper .top-nav-bar .navigation-ul li a {
          color: white;
          display: block; }
        .top-nav-bar-wrapper .top-nav-bar .navigation-ul li a:hover {
          color: #36c2ff; }
    .top-nav-bar-wrapper .top-nav-bar .home-logo-cart {
      display: inline-block;
      height: 20px;
      width: 20px; }

.product-colection {
  width: 1300px; }
  .product-colection .div-discription-background {
    display: flex;
    align-items: center;
    padding-left: 140px;
    background-image: url("../style/images/home-home.png");
    height: 788px; }
    .product-colection .div-discription-background .div-discription-wrapper p {
      color: #36C5FD; }
    .product-colection .div-discription-background .div-discription-wrapper .p-discription {
      width: 300px;
      height: 130px;
      display: inline-block;
      font-size: 50px; }
    .product-colection .div-discription-background .div-discription-wrapper .p-discription2 {
      font-size: 20px; }
    .product-colection .div-discription-background .div-discription-wrapper button {
      background-color: #2A323A;
      color: #3E4854;
      width: 150px;
      height: 50px;
      border-color: black; }
  .product-colection .div-colection-items {
    background-color: #F0F3F7;
    height: 636px;
    padding-bottom: 135px; }
    .product-colection .div-colection-items .futured-items {
      height: 150px; }
      .product-colection .div-colection-items .futured-items p:first-child {
        text-align: center;
        font-size: 26px; }
      .product-colection .div-colection-items .futured-items p:last-child {
        text-align: center;
        font-size: 18.5px; }
    .product-colection .div-colection-items .items-wrapper {
      width: 1300px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      padding-left: 130px;
      padding-right: 130px; }
      .product-colection .div-colection-items .items-wrapper .div-wrapper1 {
        background-color: white;
        width: 315px;
        height: 388px;
        padding-top: 40px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper1 .div-background {
          margin: auto;
          width: 193px;
          height: 205px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url("../style/images/home-featured-brown-bag.png"); }
        .product-colection .div-colection-items .items-wrapper .div-wrapper1 p:nth-child(2) {
          font-weight: bold;
          margin-left: 26px;
          margin-bottom: 0px;
          margin-top: 15px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper1 p:nth-child(3) {
          font-weight: bold;
          margin-left: 26px;
          margin-bottom: 0px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper1 .star-container {
          margin-left: 26px;
          margin-top: 20px; }
          .product-colection .div-colection-items .items-wrapper .div-wrapper1 .star-container .checked {
            color: orange; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper1 p:last-child {
          color: #36C5FD;
          margin-left: 26px;
          margin-bottom: 0px;
          margin-top: 20px;
          font-weight: bold; }
      .product-colection .div-colection-items .items-wrapper .div-wrapper2 {
        background-color: white;
        width: 315px;
        height: 388px;
        padding-top: 40px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper2 .div-background {
          margin: auto;
          width: 193px;
          height: 205px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-image: url("../style/images/home-featured-watch.png"); }
        .product-colection .div-colection-items .items-wrapper .div-wrapper2 p:nth-child(2) {
          font-weight: bold;
          margin-left: 26px;
          margin-bottom: 0px;
          margin-top: 15px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper2 p:nth-child(3) {
          font-weight: bold;
          margin-left: 26px;
          margin-bottom: 0px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper2 .star-container {
          margin-left: 26px;
          margin-top: 20px; }
          .product-colection .div-colection-items .items-wrapper .div-wrapper2 .star-container .checked {
            color: orange; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper2 p:last-child {
          color: #36C5FD;
          margin-left: 26px;
          margin-bottom: 0px;
          margin-top: 20px;
          font-weight: bold; }
      .product-colection .div-colection-items .items-wrapper .div-wrapper3 {
        width: 315px;
        height: 388px;
        padding-top: 40px;
        background-color: white; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper3 .div-background {
          margin: auto;
          width: 193px;
          height: 205px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url("../style/images/home-featured-red-bag.png"); }
        .product-colection .div-colection-items .items-wrapper .div-wrapper3 p:nth-child(2) {
          font-weight: bold;
          margin-left: 26px;
          margin-bottom: 0px;
          margin-top: 15px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper3 p:nth-child(3) {
          font-weight: bold;
          margin-left: 26px;
          margin-bottom: 0px; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper3 .star-container {
          margin-left: 26px;
          margin-top: 20px; }
          .product-colection .div-colection-items .items-wrapper .div-wrapper3 .star-container .checked {
            color: orange; }
        .product-colection .div-colection-items .items-wrapper .div-wrapper3 p:last-child {
          color: #36C5FD;
          margin-left: 26px;
          margin-bottom: 0px;
          margin-top: 20px;
          font-weight: bold; }

.popular-text-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px; }
  .popular-text-wrapper p:first-child {
    font-weight: bold;
    font-size: 20px; }
  .popular-text-wrapper p:last-child {
    color: #808EB1;
    font-size: 15px; }

.popular-products-section {
  width: 1300px;
  margin-left: 147px;
  margin-right: 147px; }
  .popular-products-section .popular-products-wrapper {
    width: 1005px;
    height: 705px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .popular-products-section .popular-products-wrapper div {
      width: 317px;
      height: 337px;
      background-color: #f1f3f8; }
      .popular-products-section .popular-products-wrapper div div:first-child {
        margin-left: auto;
        margin-right: auto;
        width: 190px;
        height: 175px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .popular-products-section .popular-products-wrapper div p:nth-child(4) {
        color: #36c2ff;
        padding-left: 33px; }
      .popular-products-section .popular-products-wrapper div p:nth-child(3) {
        padding-left: 33px; }
      .popular-products-section .popular-products-wrapper div p:nth-child(2) {
        font-weight: bold;
        padding-left: 33px; }
    .popular-products-section .popular-products-wrapper div:nth-child(1) div:first-child {
      background-image: url("../style/images/product-jacket.png"); }
    .popular-products-section .popular-products-wrapper div:nth-child(2) div:first-child {
      background-image: url("../style/images/home-product-bag.png"); }
    .popular-products-section .popular-products-wrapper div:nth-child(3) div:first-child {
      background-image: url("../style/images/home-product-blue-jacket.png"); }
    .popular-products-section .popular-products-wrapper div:nth-child(4) div:first-child {
      background-image: url("../style/images/home-product-watch.png"); }
    .popular-products-section .popular-products-wrapper div:nth-child(5) div:first-child {
      background-image: url("../style/images/home-product-belt.png"); }
    .popular-products-section .popular-products-wrapper div:nth-child(6) div:first-child {
      background-image: url("../style/images/home-product-shoos.png"); }

.subscribe-section {
  width: 1300px;
  height: 280px;
  background-color: blue;
  background-image: url("../style/images/home-newsletter-background.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 58px; }
  .subscribe-section .subscribe-section-text-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .subscribe-section .subscribe-section-text-wrapper p:first-child {
      font-weight: bold;
      font-size: 20px; }
    .subscribe-section .subscribe-section-text-wrapper p:last-child {
      color: #808EB1;
      font-size: 15px; }
  .subscribe-section .subscribe-section-button-holder {
    display: flex;
    justify-content: center; }
    .subscribe-section .subscribe-section-button-holder input {
      border-radius: 25px 0 0 25px;
      height: 47px;
      width: 337px;
      text-indent: 15px;
      display: inline-block;
      border: none;
      font-size: 15px; }
    .subscribe-section .subscribe-section-button-holder input[type=text]:focus {
      outline: none; }
    .subscribe-section .subscribe-section-button-holder .btn.btn-primary {
      height: 47px;
      width: 120px;
      border-radius: 0 25px 25px 0; }

.latest-news-section {
  width: 1300px;
  padding-left: 150px;
  padding-right: 150px; }
  .latest-news-section .lates-news-section-texts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px; }
    .latest-news-section .lates-news-section-texts p:first-child {
      font-weight: bold;
      font-size: 20px; }
    .latest-news-section .lates-news-section-texts p:last-child {
      color: #808EB1;
      font-size: 15px; }
  .latest-news-section .latest-news {
    width: 1003px;
    height: 696px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .latest-news-section .latest-news .div-left-wrapper {
      width: 384px;
      height: 100%;
      background-color: #F1F3F8; }
      .latest-news-section .latest-news .div-left-wrapper .div-left-wrapper-background {
        height: 352px;
        background-image: url("../style/images/boy1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .latest-news-section .latest-news .div-left-wrapper h2 {
        font-weight: bold;
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 25px; }
      .latest-news-section .latest-news .div-left-wrapper p {
        width: 325px;
        height: 222px;
        display: inline-block;
        color: #808EB1; }
    .latest-news-section .latest-news .div-right-wrapper {
      width: 593px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .latest-news-section .latest-news .div-right-wrapper .wrapper-up {
        background-color: #F1F3F8;
        margin-bottom: 25px; }
        .latest-news-section .latest-news .div-right-wrapper .wrapper-up .wrapper-up-background {
          height: 226px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: url("../style/images/boy2.jpg"); }
        .latest-news-section .latest-news .div-right-wrapper .wrapper-up .wrapper-up-text {
          height: 125px; }
          .latest-news-section .latest-news .div-right-wrapper .wrapper-up .wrapper-up-text h2 {
            font-weight: bold;
            font-size: 20px; }
          .latest-news-section .latest-news .div-right-wrapper .wrapper-up .wrapper-up-text p {
            height: 54px;
            width: 554px;
            margin-top: 0px;
            margin-bottom: 0px;
            color: #808EB1;
            font-size: 14px; }
      .latest-news-section .latest-news .div-right-wrapper .wrapper-down {
        margin-bottom: 50px;
        background-color: #F1F3F8;
        margin-top: 20px; }
        .latest-news-section .latest-news .div-right-wrapper .wrapper-down .wrapper-down-background {
          height: 200px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: url("../style/images/girl-back.jpg"); }
        .latest-news-section .latest-news .div-right-wrapper .wrapper-down .wrapper-down-text {
          height: 103px; }
          .latest-news-section .latest-news .div-right-wrapper .wrapper-down .wrapper-down-text h2 {
            font-weight: bold;
            font-size: 20px; }
          .latest-news-section .latest-news .div-right-wrapper .wrapper-down .wrapper-down-text p {
            height: 54px;
            width: 554px;
            margin-top: 0px;
            margin-bottom: 0px;
            color: #808EB1;
            font-size: 14px; }

.footer {
  width: 1300px;
  background-color: #F1F3F8;
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }
  .footer .footer-div-explore {
    width: 20px; }
    .footer .footer-div-explore p {
      color: red;
      display: inline;
      width: 20px; }
  .footer .footer-table table {
    border-collapse: separate;
    border-spacing: 15px; }
    .footer .footer-table table th {
      color: #36c2ff;
      text-align: left; }
    .footer .footer-table table .td-explore {
      width: 20%; }
    .footer .footer-table table .td-sign-up {
      vertical-align: top; }
      .footer .footer-table table .td-sign-up input[type=text] {
        border: none;
        border-bottom: 2px solid black;
        display: block;
        height: 25px;
        width: 196px;
        background-color: #F1F3F8; }
      .footer .footer-table table .td-sign-up input[type=password] {
        margin-top: 20px;
        border: none;
        border-bottom: 2px solid black;
        display: block;
        height: 25px;
        width: 196px;
        background-color: #F1F3F8; }
      .footer .footer-table table .td-sign-up button {
        margin-top: 20px;
        color: white;
        width: 196px; }
  .footer .footer-table hr {
    border-top: 1px dotted #000;
    background-color: gray;
    /*Rest of stuff here*/ }
