nav{
    border:solid;
    background-color:#030405;
    display: flex;
    justify-content: space-around;
    

    .logo{
        background-repeat: no-repeat;
        background-image: url('../../images/nav-epxlore.JPG');
        height: 20px;
        width: 20px;
     
    }
    .navigation-ul{
        display: flex;
        justify-content: space-around;
        li{
            margin-left: 10px;
            margin-right: 10px;
            a{
                color:white;
            }
            a:hover{
                color:#36c2ff;
            }
        }        
    }
    .cartLogo{
        background-image: url('../../images/nav-cart.JPG');
        height: 20px;
        width: 20px;
    }
}//end of nav

/////////////////////////
.producs-table{
display: flex;
justify-content: center;
    table{
        border-collapse:collapse;
        width: 80%;
        

        th{
            border-bottom: solid;   
            border-color: gray;
            text-align: left;
            color:#36c2ff;
        }
       
        td{
            border-block-end: solid gray;
        }   
        .td-bag-image{
            background: url('./images/product-bag.JPG');
            width:20%;
            height: 100%;
            background-repeat: no-repeat;
                   
        }
        .td-watch-image{
            background: url('./images/product-watch.JPG');
            width:20%;
            height: 100%;
            background-repeat: no-repeat;
                   
        }
        .td-shoos-image{
            background: url('./images/product-shoos.JPG');
            width:20%;
            height: 100%;
            background-repeat: no-repeat;
                   
        }

    }
}

///////////////////////
.footer{
widows: 100%;
height: 400px;
background-color: gray;
display: flex;
justify-content: space-between;
.footer-div-explore{
    width: 20px;
    p{
        color:red;
        display: inline;
        width: 20px;
    }
} 
    .footer-table{
        
        table{
            border-collapse: separate;
            border-spacing: 15px;
            th{
                color:#36c2ff;
                text-align: left;
            }
            .td-explore{
                width:20%;
                }
            .td-sign-up{
                width:20%;
                // display: flex;
                // flex-direction: column;
                vertical-align:top;
                input[type=text]{
                    border: none;
                    border-bottom: 2px solid red;
                    display:block;
                }
                input[type=password]{
                    border: none;
                    border-bottom: 2px solid red;
                    display: block;

                }
            }
    }
    hr {
        border-top:1px dotted #000;
        background-color: gray;
        /*Rest of stuff here*/
    }
    } //end of footer table
   
}


