.top-nav-bar-wrapper{
    display: flex;
    align-items: center;
    height: 65px;
    background-color:#030405;
    width: 1300px;
    .top-nav-bar{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-content:center;
            .home-logo-explore{
                height: 20px;
                width: 88px;
                display: inline-block;
        
            
            }
            .navigation-ul{
            
                display: inline-block;
                width: 240px;
                display: flex;
                justify-content: space-between;

            
                li{
                    display: block;
                    a{
                        color:white;
                        display: block;
                    }
                    a:hover{
                        color:#36c2ff;
                    }
                }
                    
            }
            .home-logo-cart{
            
        
                display: inline-block;
                height: 20px;
                width: 20px;
        
            }


    
    }//end top-nav-bar
}//end of top-nav-bar-wrapper
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.producs-table{
width: 1300px;
display: flex;
justify-content: center;
margin-top:100px;
margin-bottom: 50px;
    table{
        width: 980px;
        border-collapse:collapse;
        th{
            border-bottom: solid;   
            border-color: gray;
            text-align: left;
            color:#36c2ff;
        }
       
        td{
            border-block-end: solid gray;
        }
      
        .td-bag-image{
            background: url('./images/cart-bag.png');
            width:20%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
                   
        }
        .td-watch-image{
            background: url('./images/cart-watch.png');
            width:20%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;

                   
        }
        .td-shoe-image{
            background: url('./images/cart-shoe.png');
            width:20%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
                  
        }

    }
}

////////////////////////////////////////////////////////////////////////////////

.clearCart-continue-shoping{
    width: 1300px;
    margin-bottom: 140px;
    .div-subtotal{
           float: right;
           border: solid;
           width: 138px;
           height: 50px;
           line-height: 50px;
           text-align: center;
          
       }
       .button-clearCart{
        float: left;
        border: solid;
        width: 138px;
        height: 50px;
        background-color: white;
        line-height: 50px;
        text-align: center;
        margin-left:158px;
       }
}
.clearCart-continue-shoping{
    clear: both;
}



.div-continue-shoping{
    width: 1300px;
    .btn.btn-primary{
        margin:0 auto;
        display: block;
        width: 270px;
        height: 50px;
        margin-bottom: 245px;
    }
}


///////////////////////
.footer{
    width: 1300px;
    background-color: #F1F3F8;
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    .footer-div-explore{
        width: 20px;
        p{
            color:red;
            display: inline;
            width: 20px;
        }
    } 
        .footer-table{
            
            table{
                border-collapse: separate;
                border-spacing: 15px;
                th{
                    color:#36c2ff;
                    text-align: left;
                }
                .td-explore{
                    width:20%;
                    }
                .td-sign-up{
                    // width:196px;
                    // display: flex;
                    // flex-direction: column;
                    vertical-align:top;
                    input[type=text]{
                        border: none;
                        border-bottom: 2px solid black;
                        display:block;
                        height: 25px;
                        width:196px;
                        background-color: #F1F3F8;
                    }
                    input[type=password]{
                        margin-top:20px;
                        border: none;
                        border-bottom: 2px solid black;
                        display: block;
                        height: 25px;
                        width:196px;
                        background-color: #F1F3F8;
    
                    }
                    button{
                        margin-top:20px;
                        color:white;
                        width:196px;
                    }
                }
        }
        hr {
            border-top:1px dotted #000;
            background-color: gray;
            /*Rest of stuff here*/
        }
        } //end of footer table
       
    }



