

nav{
    border:solid;
    background-color:#030405;
    display: flex;
    justify-content: space-around;
    

    .logo{
        background-repeat: no-repeat;
        background-image: url('../../images/nav-epxlore.JPG');
        height: 20px;
        width: 20px;
     
    }
    .navigation-ul{
        display: flex;
        justify-content: space-around;
        li{
            margin-left: 10px;
            margin-right: 10px;
            a{
                color:white;
            }
            a:hover{
                color:#36c2ff;
            }
        }        
    }
    .cartLogo{
        background-image: url('../../images/nav-cart.JPG');
        height: 20px;
        width: 20px;
    }
}//end of nav
//////////////////////////////////////////////////////////



.product-colection{
    width: 1300px;
    .div-discription-background{
        background-color:#2B313A;

        .div-discription-wrapper{
            margin-left: 50px;
            p{
                color:#36C5FD;
            }
            .p-discription{
                width:300px;
                height: 130px;
                display: inline-block;
                // border: solid;
                font-size: 50px;
            }
            .p-discription2{
                // border: solid;
                font-size: 20px;
            }
            button{
                background-color: #2A323A;
                color:#3E4854;
                width: 150px;
                height: 50px;
            }
        }
    }//end of div-colection-background
    .div-colection-items{
        background-color:#F0F3F7;
        height: 636px;
        padding-bottom: 135px;

        .futured-items{
            height: 150px;
            // border:solid;
            p:first-child{
                text-align: center;
                font-size: 25px;
               
            }
            p:last-child{
                text-align: center;
                font-size: 15px;
            }
        } //end of futured-items

        .items-wrapper{
            width: 1005px;
            padding-left:130px;
            padding-right:130px;
            margin-bottom:20px;
            display: flex;
            justify-content: space-around;
            .div-wrapper1{
                background-color:white;
                width:315px;
                height: 388px;
                padding-top:40px;
                div{
                    margin:auto;
                    width: 210px;
                    height: 125px;
                    transform: translate(-50,0);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center; 
                    background-image: url('../style/images/product-bag4.jpg');
                }
                p:nth-child(2){
                    font-weight: bold;
                    margin-left:26px;

                }
                p:nth-child(3){
                    font-weight: bold;
                    margin-left:26px;

                }
                p:last-child{
                    color:#36C5FD;
                    margin-left:26px;

                }
            }
            .div-wrapper2{
                background-color:white;
                width:315px;
                height: 388px;
                padding-top:40px;
                div{
                    margin:auto;
                    width: 210px;
                    height: 125px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center; 
                    background-image: url('../style/images/product-watch2.jpg');
                }
                p:nth-child(2){
                    font-weight: bold;
                    margin-left:26px;

                }
                p:nth-child(3){
                    font-weight: bold;
                    margin-left:26px;

                }
                p:last-child{
                    color:#36C5FD;
                    margin-left:26px;

                }
         }
            .div-wrapper3{
                width:315px;
                height: 388px;
                padding-top:40px;
                background-color:white;
                div{
                    margin:auto;
                    width: 210px;
                    height: 125px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center; 
                    background-image: url('../style/images/product-bag.jpg');
                }
                p:nth-child(2){
                    font-weight: bold;
                    margin-left:26px;
                    display: inline-block;
                }
                p:nth-child(3){
                    font-weight: bold;
                    margin-left:26px;

                }
                p:last-child{
                    color:#36C5FD;
                    margin-left:26px;
                }
            }
        }//end of items-wrapper
    } //end of div-colection-items
}//end of product-colection
/////////////////////////////////////////////////////////

.popular-text-wrapper{
    text-align: center;
    margin:auto;
    p:first-child{
        font-weight: bold;
        font-size:30px;
    }
    p:last-child{
        font-size:20px;
    }
}
/////////////////////////////////////////////////////////////////

.popular-products-section{
    width: 1300px;
    margin-left:147px;
    margin-right:147px;
    .popular-products-wrapper{
        width:1005px;
        height:705px;
        border:solid;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div{
            width: 317px;
            height:337px;
            background-color: gray;
            div:first-child{
                    margin-left:auto;
                    margin-right:auto;
                    // margin-top:15px;
                    width:190px;
                    height: 175px;
                    background-size: cover;
                    // background-size: 80px 80px;
                    background-repeat: no-repeat;
                    background-position: center;
                   
            }
            p:nth-child(4){
                color:#36c2ff;
                padding-left:33px;
            }
            p:nth-child(3){
                padding-left:33px;
            }
            p:nth-child(2){
                font-weight: bold;
             padding-left:33px;
            }
        }
        
        div:nth-child(1){
            div:first-child{
                background-image: url('../style/images/product-jacket.jpg');
            }
        }
        div:nth-child(2){
            div:first-child{
                background-image: url('../style/images/product-shoos.jpg');
            }
        }
        div:nth-child(3){
            div:first-child{
                background-image: url('../style/images/product-tshirt.jpg');
            }
        }
        div:nth-child(4){
            div:first-child{
                background-image: url('../style/images/product-belt.jpg');
            }
        }
        div:nth-child(5){
            div:first-child{
                background-image: url('../style/images/product-bag.jpg');
            }
        }
        div:nth-child(6){
            div:first-child{
                background-image: url('../style/images/product-watch.jpg');
            }
        }
        div:nth-child(7){
            div:first-child{
                background-image: url('../style/images/product-bag2.jpg');
            }
        }
        div:nth-child(8){
            div:first-child{
                background-image: url('../style/images/product-jacket2.jpg');
            }
        }
        div:nth-child(9){
            div:first-child{
                background-image: url('../style/images/product-bag3.jpg');
            }
       }
      
    } //end of popoular-products-wrappe
} //end of popular-products-section
/////////////////////////////////////////////////////////////
.subscribe-section{
    width: 1300px;
    height: 280px;
    background-color: blue;
}


.latest-news-section{
    width:1300px;
    padding-left:150px;
    padding-right: 150px;
    .latest-news{
        width:1003px;
        height: 696px;
        border: solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .div-left-wrapper{
            width: 384px;
            height: 100%;
            border:solid;
            background-color: white;
            .div-left-wrapper-background{
                height: 352px;
                background-image: url('../style/images/boy1.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            h2{
                font-weight: bold;
            }
            p{
                width: 325px;
                height: 222px;
                display: inline-block;
                color:#808EB1;
            }
        }
        .div-right-wrapper{
            
            width: 593px;
            height: 100%;
            border:solid;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .wrapper-up{
                
                height: 352px;
                .wrapper-up-background{
                    height: 227px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-image: url('../style/images/boy2.jpg')
                    
                }
                .wrapper-up-text{
                    height: 125px;
                    background-color: rgb(155, 165, 189);
                    .h2{
                    
                    }
                    p{
                        margin-top: 0px;
                        margin-bottom: 0px;
                        color:#808EB1;
                    }
                }
            }

            .wrapper-down{
                height: 300px;
                margin-bottom: 50px;
                .wrapper-down-background{
                    height: 200px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-image: url('../style/images/girl-back.jpg')
                }
                .wrapper-down-text{
                    background-color: rgb(155, 165, 189);
                    height: 125px;
                    .h2{
                        margin-top:0px;
                    }

                    p{
                        
                        color:#808EB1;
                    }
                }
                
            }
        }//end of div-right-wrapper
    } //end of lates-news
}//end of latest-news section

