@import url("fonts/shared-fonts.css");
@import "fonts/shared-fonts.css";


.top-nav-bar-wrapper{
    display: flex;
    align-items: center;
    height: 65px;
    background-color:#030405;
    width: 1300px;
    .top-nav-bar{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-content:center;
            .home-logo-explore{
                height: 20px;
                width: 88px;
                display: inline-block;
        
            
            }
            .navigation-ul{
            
                display: inline-block;
                width: 240px;
                display: flex;
                justify-content: space-between;

            
                li{
                    display: block;
                   
                    a{
                        color:white;
                        display: block;
                        font-family: sugarpunch;
                    }
                    a:hover{
                        color:#36c2ff;
                    }
                }
                    
            }
            .home-logo-cart{
            
        
                display: inline-block;
                height: 20px;
                width: 20px;
        
            }


    
    }//end top-nav-bar
}//end of top-nav-bar-wrapper
//////////////////////////////////////////////////////////



.product-colection{
    width: 1300px;

    .div-discription-background{
       
        display: flex;
        align-items: center;
        padding-left:140px;
       background-image:  url("../style/images/home-home.png");

            height: 788px;
        .div-discription-wrapper{
            
            p{
                color:#36C5FD;
            }
            .p-discription{
                width:300px;
                height: 130px;
                display: inline-block;
                // border: solid;
                font-size: 50px;
            }
            .p-discription2{
                // border: solid;
                font-size: 20px;
            }
            button{
                background-color: #2A323A;
                color:#3E4854;
                width: 150px;
                height: 50px;
                border-color:black;
            }
        }
    }//end of div-colection-background
    .div-colection-items{
        background-color:#F0F3F7;
        height: 636px;
        padding-bottom: 135px;

        .futured-items{
            height: 150px;
            // border:solid;
            p:first-child{
                text-align: center;
                font-size: 26px;
                font-family: sketch3d;
               
            }
            p:last-child{
                text-align: center;
                font-size: 18.5px;
                font-family: sketch3d;
            }
        } //end of futured-items

        .items-wrapper{
            width: 1300px;
        
            margin-bottom:20px;
            display: flex;
            justify-content: space-between;
            padding-left:130px;
            padding-right: 130px;
            .div-wrapper1{
                background-color:white;
                width:315px;
                height: 388px;
                padding-top:40px;
                .div-background{
                    margin:auto;
                    width: 193px;
                    height: 205px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center; 
                    background-image: url('../style/images/home-featured-brown-bag.png');
                }
                p:nth-child(2){
                    font-weight: bold;
                    margin-left:26px;
                    margin-bottom: 0px;
                    margin-top:15px;
                }
                p:nth-child(3){
                    font-weight: bold;
                    margin-left:26px;
                    margin-bottom: 0px;

                }
                .star-container{
                    margin-left:26px;
                    margin-top:20px;
                    .checked {
                        color: orange;
                      }
                }
                
                p:last-child{
                    color:#36C5FD;
                    margin-left:26px;
                    margin-bottom: 0px;
                    margin-top:20px;
                    font-weight: bold;
                }
            }
            .div-wrapper2{
                background-color:white;
                width:315px;
                height: 388px;
                padding-top:40px;
                .div-background{
                    margin:auto;
                    width: 193px;
                    height: 205px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center; 
                    background-image: url('../style/images/home-featured-watch.png');
                }
                p:nth-child(2){
                    font-weight: bold;
                    margin-left:26px;
                    margin-bottom: 0px;
                    margin-top:15px;
                }
                p:nth-child(3){
                    font-weight: bold;
                    margin-left:26px;
                    margin-bottom: 0px;

                }
                .star-container{
                    margin-left:26px;
                    margin-top:20px;
                    .checked {
                        color: orange;
                      }
                }
                
                p:last-child{
                    color:#36C5FD;
                    margin-left:26px;
                    margin-bottom: 0px;
                    margin-top:20px;
                    font-weight: bold;
                }
         }
            .div-wrapper3{
                width:315px;
                height: 388px;
                padding-top:40px;
                background-color:white;
                .div-background{
                    margin:auto;
                    width: 193px;
                    height: 205px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center; 
                    background-image: url('../style/images/home-featured-red-bag.png');
                }
                p:nth-child(2){
                    font-weight: bold;
                    margin-left:26px;
                    margin-bottom: 0px;
                    margin-top:15px;

                }
                p:nth-child(3){
                    font-weight: bold;
                    margin-left:26px;
                    margin-bottom: 0px;

                }
                .star-container{
                    margin-left:26px;
                    margin-top:20px;
                    .checked {
                        color: orange;
                      }
                }
                
                p:last-child{
                    color:#36C5FD;
                    margin-left:26px;
                    margin-bottom: 0px;
                    margin-top:20px;
                    font-weight: bold;
                }
            }
        }//end of items-wrapper
    } //end of div-colection-items
}//end of product-colection
/////////////////////////////////////////////////////////

.popular-text-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:40px;
    margin-bottom: 40px;
    p:first-child{
        font-weight:bold;
        font-size:20px;
        font-family: sketch3d;

    }
    p:last-child{
        color:#808EB1;
        font-size:15px;
        font-family: sketch3d;

    }
}
/////////////////////////////////////////////////////////////////

.popular-products-section{
    width: 1300px;
    margin-left:147px;
    margin-right:147px;
    .popular-products-wrapper{
        width:1005px;
        height:705px;
        // border:solid;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div{
            width: 317px;
            height:337px;
            background-color: #f1f3f8;
            div:first-child{
                    margin-left:auto;
                    margin-right:auto;
                    // margin-top:15px;
                    width:190px;
                    height: 175px;
                    background-size: cover;
                    // background-size: 80px 80px;
                    background-repeat: no-repeat;
                    background-position: center;
                   
            }
            p:nth-child(4){
                color:#36c2ff;
                padding-left:33px;
            }
            p:nth-child(3){
                padding-left:33px;
            }
            p:nth-child(2){
                font-weight: bold;
             padding-left:33px;
            }
        }
        
        div:nth-child(1){
            div:first-child{
                background-image: url('../style/images/product-jacket.png');
            }
        }
        div:nth-child(2){
            div:first-child{
                background-image: url('../style/images/home-product-bag.png');
            }
        }
        div:nth-child(3){
            div:first-child{
                background-image: url('../style/images/home-product-blue-jacket.png');
            }
        }
        div:nth-child(4){
            div:first-child{
                background-image: url('../style/images/home-product-watch.png');
            }
        }
        div:nth-child(5){
            div:first-child{
                background-image: url('../style/images/home-product-belt.png');

            }
        }
        div:nth-child(6){
            div:first-child{
                background-image: url('../style/images/home-product-shoos.png');
            }
        }
     
    
      
    } //end of popoular-products-wrappe
} //end of popular-products-section
/////////////////////////////////////////////////////////////
.subscribe-section{
    width: 1300px;
    height: 280px;
    background-color: blue;    
    background-image: url('../style/images/home-newsletter-background.png');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:58px;
    padding-bottom: 58px;
.subscribe-section-text-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    p:first-child{
        font-weight:bold;
        font-size:20px
    }
    p:last-child{
        color:#808EB1;
        font-size:15px;
    }
}
   

    .subscribe-section-button-holder{
        // border:solid;
        display: flex;
        justify-content: center;
        input{
            border-radius:25px 0 0 25px;
            height: 47px;
            width: 337px;
            text-indent: 15px;
            display: inline-block;
           border:none;
            font-size:15px;
        }
        input[type=text]:focus{
            outline:none;
          }
        .btn.btn-primary{
            height: 47px;
            width: 120px;
            border-radius:0 25px 25px 0;

       
        }

    }
  
}


.latest-news-section{
    width:1300px;
    padding-left:150px;
    padding-right: 150px;

.lates-news-section-texts{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:40px;
    margin-bottom: 40px;
    p:first-child{
        font-weight:bold;
        font-size:20px;
        font-family: sketch3d;

    }
    p:last-child{
        color:#808EB1;
        font-size:15px;
        font-family: sketch3d;

    }
}

    .latest-news{
        width:1003px;
        height: 696px;
        // border: solid;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .div-left-wrapper{
            width: 384px;
            height: 100%;
            // border:solid;
            background-color: #F1F3F8;
            .div-left-wrapper-background{
                height: 352px;
                background-image: url('../style/images/boy1.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            h2{
                font-weight: bold;
                font-size: 25px;
                margin-top:25px;
                margin-bottom: 25px;
            }
            p{
                width: 325px;
                height: 222px;
                display: inline-block;
                color:#808EB1;
            }
        }
        .div-right-wrapper{
            
            width: 593px;
            height: 100%;
            // border:solid;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .wrapper-up{
                
                // height: 352px;
                background-color: #F1F3F8;
                margin-bottom: 25px;
                .wrapper-up-background{
                    height: 226px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-image: url('../style/images/boy2.jpg')
                    
                }
                .wrapper-up-text{
                    height: 125px;
                    h2{

                        font-weight: bold;
                        font-size: 20px;
                      
                    }
                    p{
                        height: 54px;
                        width:554px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        color:#808EB1;
                        
                        font-size:14px;

                    }
                }
            }

            .wrapper-down{
                // height: 315px;
                margin-bottom: 50px;
                background-color: #F1F3F8;
                margin-top:20px;
                .wrapper-down-background{
                    height: 200px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-image: url('../style/images/girl-back.jpg')
                }
                .wrapper-down-text{
                    height: 103px;
                  
                    h2{

                        font-weight: bold;
                        font-size: 20px;
                      
                    }
                    p{
                        height: 54px;
                        width:554px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        color:#808EB1;
                        
                        font-size:14px;

                    }
                }
                
            }
        }//end of div-right-wrapper
    } //end of lates-news
}//end of latest-news section


////////////////////////////////////////////////////////////


///////////////////////
.footer{
    width: 1300px;
    background-color: #F1F3F8;
    margin-top:50px;
   
        .footer-table{
            
            table{
                border-collapse: separate;
                border-spacing: 15px;
                th{
                    color:#36c2ff;
                    text-align: left;
                }
                .td-explore{
                    width:20%;
                    }
                .td-sign-up{
                    // width:196px;
                    // display: flex;
                    // flex-direction: column;
                    vertical-align:top;
                    input[type=text]{
                        border: none;
                        border-bottom: 2px solid black;
                        display:block;
                        height: 25px;
                        width:196px;
                        background-color: #F1F3F8;
                    }
                    input[type=password]{
                        margin-top:20px;
                        border: none;
                        border-bottom: 2px solid black;
                        display: block;
                        height: 25px;
                        width:196px;
                        background-color: #F1F3F8;
    
                    }
                    button{
                        margin-top:20px;
                        color:white;
                        width:196px;
                    }
                }
        }
     
        } //end of footer table
        hr {
            border-top:1px dotted #000;
            background-color: gray;
            /*Rest of stuff here*/
        }
        .footer-bottom{
            padding-top:22px;
            height: 75px;
            display: flex;
            justify-content: space-between;
            .footer-bottom-icons-wrapper{
                width: 115px;
                height: 28px;
                display: flex;
                justify-content: space-between;
                div{
                    width: 26px;
                    height: 28px;
                    background-image: url("../style/images/home-footer-icon-background.png");
                    background-position: center;
                    padding-left:8px;
                    margin-top:4px;

                }
            }
        }

    }//end of footer section
