
.top-nav-bar-wrapper{
    display: flex;
    align-items: center;
    height: 65px;
    background-color:#030405;
    width: 1300px;
    .top-nav-bar{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-content:center;
            .home-logo-explore{
                height: 20px;
                width: 88px;
                display: inline-block;
        
            
            }
            .navigation-ul{
            
                display: inline-block;
                width: 240px;
                display: flex;
                justify-content: space-between;

            
                li{
                    display: block;
                    a{
                        color:white;
                        display: block;
                    }
                    a:hover{
                        color:#36c2ff;
                    }
                }
                    
            }
            .home-logo-cart{
            
        
                display: inline-block;
                height: 20px;
                width: 20px;
        
            }


    
    }//end top-nav-bar
}//end of top-nav-bar-wrapper
////////////////////////////////////////////////////////////////////////////////////
.detail-wrapper{
    width: 1300px;
    height: 1017px;
.detail{
    width: 822px;
    margin:auto;
    border:solid;
    border-color: #F1F3F8;
    .detail-largPhoto-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 455px;
        width: 100%;
        background-color: #F1F3F8;
        background-image: url('../style/images/detail-big-bag.png');
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center; 
    }
    .smallPhoto-wrapper{
        // border:solid;
        margin-top:20px;
        display: flex;
        justify-content: space-between;
        height: 137px;
        width: 100%;
        margin-bottom: 60px;
       
        .smallPhoto-1{
            margin-left:95px;
            width: 189px;
            height: 100%;
            background-image: url('../style/images/detail-bag-left.png')
        }
        .smallPhoto-2{
            width: 189px;
            height: 100%;
            background-image: url('../style/images/detail-bag-center.png')
        }
        .smallPhoto-3{
            margin-right: 95px;            
            width: 189px;
            height: 100%;
            background-image: url('../style/images/detail-bag-right.png')
        }
    } //end of smallPhoto-wrapper
    .detail-wrapper{
        margin-top:50px;
        margin: auto;
        height: 200px;
        width: 60%;
        // border: solid;
        p:nth-child(1){
            text-align: center;
            font-weight: bold;
            font-size:28px;
        }
        p:nth-child(2){
            text-align: center;
           color:#36C2FF;
            font-size:20px;
            font-weight: bold;
        }
    }//end of detailWrapper

    .detail-select-wrapper{
        margin:auto;
        margin-top:50px;
        height: 80px;
        width: 60%;
        // border: solid;
        display: flex;
        justify-content: space-between;
        select{
            width: 186px;
            height:41px;
            
        }
    }
    .cart-button-wrapper{
        margin:auto;
        margin-top:50px;
        width: 100%;
        // border: solid;
        text-align: center;
        .btn.btn-primary{
            width: 181px;
            height:41px;
            font-size:15px;
        }

    }
} //end of detail
} //end of detail wrapper


///////////////////////
.footer{
    width: 1300px;
    background-color: #F1F3F8;
    margin-top:150px;
   
        .footer-table{
            
            table{
                border-collapse: separate;
                border-spacing: 15px;
                th{
                    color:#36c2ff;
                    text-align: left;
                }
                .td-explore{
                    width:20%;
                    }
                .td-sign-up{
                    // width:196px;
                    // display: flex;
                    // flex-direction: column;
                    vertical-align:top;
                    input[type=text]{
                        border: none;
                        border-bottom: 2px solid black;
                        display:block;
                        height: 25px;
                        width:196px;
                        background-color: #F1F3F8;
                    }
                    input[type=password]{
                        margin-top:20px;
                        border: none;
                        border-bottom: 2px solid black;
                        display: block;
                        height: 25px;
                        width:196px;
                        background-color: #F1F3F8;
    
                    }
                    button{
                        margin-top:20px;
                        color:white;
                        width:196px;
                    }
                }
        }
     
        } //end of footer table
        hr {
            border-top:1px dotted #000;
            background-color: gray;
            /*Rest of stuff here*/
        }
        .footer-bottom{
            padding-top:22px;
            height: 75px;
            display: flex;
            justify-content: space-between;
            .footer-bottom-icons-wrapper{
                width: 115px;
                height: 28px;
                display: flex;
                justify-content: space-between;
                div{
                    width: 26px;
                    height: 28px;
                    background-image: url("../style/images/home-footer-icon-background.png");
                    background-position: center;
                    padding-left:8px;
                    margin-top:4px;

                }
            }
        }

    }//end of footer section
